<form action="/" method="get">
    <input type="text" name="product" id="product">
    <input type="submit" value="add to cart" id="add to cart">
</form>

<% if session[:cart]%>

<% session[:cart].each do |item| %>
  <p> <%= item %> </p>
<%end%>
<%end%>